# Exploring Weather Data

In [156]:
import mysql.connector

connection = mysql.connector.connect(
    host='192.168.1.26',
    user='weewx',
    password='weewx',
    database='weewx',
    use_pure=True,
    ssl_disabled=True
)

cursor = connection.cursor()

In [157]:
import pandas as pd
import matplotlib.pyplot as plt
from warnings import filterwarnings

filterwarnings('ignore')

pd.options.display.float_format = '{:.4f}'.format

In [158]:
# Read the data from the database - Takes 53 seconds on average to read 1.1 million rows
query = "SELECT * FROM archive"
allData = pd.read_sql(query, connection)

allData.head(10)

,dateTime,usUnits,interval,barometer,pressure,altimeter,inTemp,outTemp,inHumidity,outHumidity,...,heatingTemp,heatingVoltage,supplyVoltage,referenceVoltage,windBatteryStatus,rainBatteryStatus,outTempBatteryStatus,inTempBatteryStatus,appTemp,windrun
0,1397031600,1,5,30.0680,29.7046,30.0499,73.8000,62.1000,66.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
1,1397031900,1,5,30.0690,29.7056,30.0509,73.4000,62.1000,66.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
2,1397032200,1,5,30.0680,29.7046,30.0499,73.2000,62.1000,66.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
3,1397032500,1,5,30.0680,29.7046,30.0499,73.1000,62.1000,66.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
4,1397032800,1,5,30.0670,29.7036,30.0489,73.1000,62.0000,67.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
5,1397033100,1,5,30.0670,29.7036,30.0489,73.0000,62.0000,67.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
6,1397033400,1,5,30.0640,29.7006,30.0459,72.9000,62.0000,67.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
7,1397033700,1,5,30.0640,29.7006,30.0459,72.8000,62.0000,67.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
8,1397034000,1,5,30.0640,29.7006,30.0459,72.8000,62.0000,66.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
9,1397034300,1,5,30.0640,29.7006,30.0459,72.7000,62.0000,66.0000,98.0000,...,None,None,None,None,None,None,None,None,NaN,NaN

In [159]:
from datetime import datetime

allData['dateTime'] = allData['dateTime'].apply(lambda x: datetime.fromtimestamp(x))
allData.set_index('dateTime', inplace=True)
allData

,usUnits,interval,barometer,pressure,altimeter,inTemp,outTemp,inHumidity,outHumidity,windSpeed,...,heatingTemp,heatingVoltage,supplyVoltage,referenceVoltage,windBatteryStatus,rainBatteryStatus,outTempBatteryStatus,inTempBatteryStatus,appTemp,windrun
dateTime,,,,,,,,,,,,,,,,,,,,,
2014-04-09 18:20:00,1,5,30.0680,29.7046,30.0499,73.8000,62.1000,66.0000,98.0000,0.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
2014-04-09 18:25:00,1,5,30.0690,29.7056,30.0509,73.4000,62.1000,66.0000,98.0000,0.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
2014-04-09 18:30:00,1,5,30.0680,29.7046,30.0499,73.2000,62.1000,66.0000,98.0000,0.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
2014-04-09 18:35:00,1,5,30.0680,29.7046,30.0499,73.1000,62.1000,66.0000,98.0000,0.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
2014-04-09 18:40:00,1,5,30.0670,29.7036,30.0489,73.1000,62.0000,67.0000,98.0000,0.0000,...,None,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-22 10:40:00,1,5,29.9330,29.5876,29.9319,68.6000,66.1000,63.0000,70.0000,4.0000,...,None,None,None,None,None,None,None,None,65.7295,39.0000
2025-01-22 10:45:00,1,5,29.9310,29.5856,29.9299,68.7000,66.3000,63.0000,68.0000,6.0000,...,None,None,None,None,None,None,None,None,64.6047,39.5000
2025-01-22 10:50:00,1,5,29.9300,29.5852,29.9296,68.8000,66.9000,63.0000,67.0000,5.0000,...,None,None,None,None,None,None,None,None,65.8207,39.9167
2025-01-22 10:55:00,1,5,29.9290,29.5842,29.9285,69.0000,68.2000,62.0000,63.0000,5.0000,...,None,None,None,None,None,None,None,None,66.9716,40.3333
2025-01-22 11:00:00,1,5,29.9260,29.5812,29.9255,69.1000,68.0000,62.0000,63.0000,6.0000,...,None,None,None,None,None,None,None,None,66.1482,40.8333

In [160]:
# Convert the temperatures from Fahrenheit to Celsius

def celcius_convert(f):
    if f is not None:
        return ((f-32)*5)/9
    else:
        return None


temps = ['inTemp', 'outTemp', 'extraTemp1', 'extraTemp2', 'extraTemp3', 'soilTemp1', 'soilTemp2', 'soilTemp3', 'soilTemp4', 'leafTemp1', 'leafTemp2', 'heatingTemp', 'appTemp', 'windchill', 'dewpoint', 'heatindex']


for temp in temps:
	allData[temp] = allData[temp].apply(lambda x: celcius_convert(x))
 
 
# Convert the wind speed/gust from mph to m/s

def wind_convert(mph):
    if mph is not None:
        return mph * 0.44704
    else:
        return None

allData['windSpeed'] = allData['windSpeed'].apply(lambda x: wind_convert(x))
allData['windGust'] = allData['windGust'].apply(lambda x: wind_convert(x))

# Convert rain from inches to mm

def rain_convert(inches):
    if inches is not None:
        return inches * 25.4
    else:
        return None
    
def rainrate_convert(iph):
    if iph is not None:
        return iph * 25.4
    else:
        return None
    
allData['rain'] = allData['rain'].apply(lambda x: rain_convert(x))
allData['rainRate'] = allData['rainRate'].apply(lambda x: rainrate_convert(x))
    
# Convert pressure, alimeter and barometer from inHg (inches of Mercury) to mbar (millibar)

def pressure_convert(inHg):
    if inHg is not None:
        return inHg * 33.8639
    else:
        return None
    
allData['pressure'] = allData['pressure'].apply(lambda x: pressure_convert(x))
allData['altimeter'] = allData['altimeter'].apply(lambda x: pressure_convert(x))
allData['barometer'] = allData['barometer'].apply(lambda x: pressure_convert(x))
    
 
allData.tail(10)

,usUnits,interval,barometer,pressure,altimeter,inTemp,outTemp,inHumidity,outHumidity,windSpeed,...,heatingTemp,heatingVoltage,supplyVoltage,referenceVoltage,windBatteryStatus,rainBatteryStatus,outTempBatteryStatus,inTempBatteryStatus,appTemp,windrun
dateTime,,,,,,,,,,,,,,,,,,,,,
2025-01-22 10:15:00,1,5,1013.6481,1001.9492,1013.6102,19.8889,18.1111,63.0000,72.0000,2.2352,...,None,None,None,None,None,None,None,None,17.4730,37.2500
2025-01-22 10:20:00,1,5,1013.6820,1001.9836,1013.6449,19.9444,18.3333,63.0000,72.0000,1.7882,...,None,None,None,None,None,None,None,None,18.0773,37.5833
2025-01-22 10:25:00,1,5,1013.7158,1002.0164,1013.6780,20.0556,18.3889,63.0000,71.0000,2.6822,...,None,None,None,None,None,None,None,None,17.4547,38.0833
2025-01-22 10:30:00,1,5,1013.6481,1001.9508,1013.6118,20.1667,18.7222,63.0000,71.0000,0.8941,...,None,None,None,None,None,None,None,None,19.1439,38.2500
2025-01-22 10:35:00,1,5,1013.7158,1002.0178,1013.6793,20.2222,18.9444,63.0000,70.0000,2.2352,...,None,None,None,None,None,None,None,None,18.4257,38.6667
2025-01-22 10:40:00,1,5,1013.6481,1001.9508,1013.6117,20.3333,18.9444,63.0000,70.0000,1.7882,...,None,None,None,None,None,None,None,None,18.7386,39.0000
2025-01-22 10:45:00,1,5,1013.5804,1001.8824,1013.5427,20.3889,19.0556,63.0000,68.0000,2.6822,...,None,None,None,None,None,None,None,None,18.1137,39.5000
2025-01-22 10:50:00,1,5,1013.5465,1001.8713,1013.5314,20.4444,19.3889,63.0000,67.0000,2.2352,...,None,None,None,None,None,None,None,None,18.7893,39.9167
2025-01-22 10:55:00,1,5,1013.5127,1001.8367,1013.4965,20.5556,20.1111,62.0000,63.0000,2.2352,...,None,None,None,None,None,None,None,None,19.4287,40.3333
2025-01-22 11:00:00,1,5,1013.4111,1001.7358,1013.3947,20.6111,20.0000,62.0000,63.0000,2.6822,...,None,None,None,None,None,None,None,None,18.9712,40.8333

In [161]:
allData.columns

Index(['usUnits', 'interval', 'barometer', 'pressure', 'altimeter', 'inTemp',
       'outTemp', 'inHumidity', 'outHumidity', 'windSpeed', 'windDir',
       'windGust', 'windGustDir', 'rainRate', 'rain', 'dewpoint', 'windchill',
       'heatindex', 'ET', 'radiation', 'UV', 'extraTemp1', 'extraTemp2',
       'extraTemp3', 'soilTemp1', 'soilTemp2', 'soilTemp3', 'soilTemp4',
       'leafTemp1', 'leafTemp2', 'extraHumid1', 'extraHumid2', 'soilMoist1',
       'soilMoist2', 'soilMoist3', 'soilMoist4', 'leafWet1', 'leafWet2',
       'rxCheckPercent', 'txBatteryStatus', 'consBatteryVoltage', 'hail',
       'hailRate', 'heatingTemp', 'heatingVoltage', 'supplyVoltage',
       'referenceVoltage', 'windBatteryStatus', 'rainBatteryStatus',
       'outTempBatteryStatus', 'inTempBatteryStatus', 'appTemp', 'windrun'],
      dtype='object')

In [162]:
allData.describe()

,usUnits,interval,barometer,pressure,altimeter,inTemp,outTemp,inHumidity,outHumidity,windSpeed,...,soilMoist2,soilMoist3,soilMoist4,leafWet1,leafWet2,rxCheckPercent,txBatteryStatus,consBatteryVoltage,appTemp,windrun
count,1132074.0000,1132074.0000,1132074.0000,1131484.0000,1131484.0000,1132074.0000,1131929.0000,1132074.0000,1131936.0000,1131932.0000,...,1132074.0000,1132074.0000,1132074.0000,1132074.0000,1132074.0000,1132074.0000,1064646.0000,1064646.0000,793607.0000,793752.0000
mean,1.0000,5.0000,1018.2950,1006.2416,1017.9432,20.8316,15.1925,56.9228,74.1932,0.8556,...,10.3633,8.9540,33.9334,12.2388,8.0203,99.6654,0.0135,4.4090,14.7977,19.6501
std,0.0000,0.0000,7.8498,7.6741,7.7481,2.7732,5.9334,5.9201,17.6269,0.8830,...,7.0098,24.5562,5.6075,29.0329,0.1764,1.4455,0.1155,0.0597,6.4988,21.9778
min,1.0000,5.0000,988.9275,977.1220,988.5425,9.3889,-0.2222,26.0000,8.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4.2200,-2.3390,0.0000
25%,1.0000,5.0000,1013.1063,1001.2110,1012.8642,19.0556,11.0556,53.0000,63.0000,0.0000,...,8.0000,0.0000,32.0000,0.0000,8.0000,99.0833,0.0000,4.3800,10.1536,2.0000
50%,1.0000,5.0000,1018.4229,1006.3747,1018.0777,20.6667,14.2778,57.0000,77.0000,0.4470,...,8.0000,0.0000,32.0000,0.0000,8.0000,99.9375,0.0000,4.4000,13.7451,11.8333
75%,1.0000,5.0000,1023.7396,1011.5496,1023.3029,22.5556,18.3889,61.0000,89.0000,1.3411,...,8.0000,4.0000,32.0000,8.0000,8.0000,99.9375,0.0000,4.4000,18.5697,30.5000
max,1.0000,5.0000,1043.3129,1030.7471,1042.6854,33.8333,44.5000,84.0000,99.0000,7.1526,...,34.0000,128.0000,58.0000,128.0000,10.0000,100.0000,1.0000,4.6200,45.0722,169.1667

In [163]:
query = "SELECT * FROM archive_day_outTemp"
outside_temp = pd.read_sql(query, connection)

outside_temp.head(10)

outside_temp['dateTime'] = outside_temp['dateTime'].apply(lambda x: datetime.fromtimestamp(x))
outside_temp['mintime'] = outside_temp['mintime'].apply(lambda x: datetime.fromtimestamp(x))
outside_temp['maxtime'] = outside_temp['maxtime'].apply(lambda x: datetime.fromtimestamp(x))

outside_temp['min'] = outside_temp['min'].apply(lambda x: celcius_convert(x))
outside_temp['max'] = outside_temp['max'].apply(lambda x: celcius_convert(x))
outside_temp

,dateTime,min,mintime,max,maxtime,sum,count,wsum,sumtime
0,2014-04-09,16.4444,2014-04-09 23:20:00,16.7222,2014-04-09 18:20:00,4270.4000,69,1281120.0000,20700
1,2014-04-10,16.2222,2014-04-10 02:55:00,18.3333,2014-04-10 11:15:00,18084.8000,288,5425440.0000,86400
2,2014-04-11,15.5556,2014-04-11 22:15:00,17.7222,2014-04-11 11:25:00,17864.4000,288,5359320.0000,86400
3,2014-04-12,14.7222,2014-04-12 05:30:00,21.8333,2014-04-12 14:55:00,18146.1000,288,5443830.0000,86400
4,2014-04-13,11.6111,2014-04-13 06:15:00,20.6111,2014-04-13 15:05:00,17187.6000,288,5156280.0000,86400
...,...,...,...,...,...,...,...,...,...
3931,2025-01-18,15.4444,2025-01-18 06:23:16,30.6111,2025-01-18 16:40:09,20715.8000,288,6214740.0000,86400
3932,2025-01-19,14.2222,2025-01-19 05:11:40,34.2778,2025-01-19 14:26:01,22141.2000,288,6642360.0000,86400
3933,2025-01-20,16.1667,2025-01-20 05:53:08,34.8333,2025-01-20 15:09:01,22681.9000,288,6804570.0000,86400
3934,2025-01-21,17.7222,2025-01-21 06:50:38,33.5556,2025-01-21 14:26:25,21751.1000,288,6525330.0000,86400
3935,2025-01-22,17.1111,2025-01-22 07:43:32,20.1667,2025-01-22 10:54:12,8575.9000,132,2572770.0000,39600

In [164]:
query = "SELECT * FROM archive_day_rain"
rain = pd.read_sql(query, connection)

rain['dateTime'] = rain['dateTime'].apply(lambda x: datetime.fromtimestamp(x))
rain['mintime'] = rain['mintime'].apply(lambda x: datetime.fromtimestamp(x))
rain['maxtime'] = rain['maxtime'].apply(lambda x: datetime.fromtimestamp(x))

rain

,dateTime,min,mintime,max,maxtime,sum,count,wsum,sumtime
0,2014-04-09,0.0000,2014-04-09 18:20:00,0.0079,2014-04-09 18:25:00,0.2126,69,63.7795,20700
1,2014-04-10,0.0000,2014-04-10 00:05:00,0.0157,2014-04-10 00:40:00,0.5197,288,155.9055,86400
2,2014-04-11,0.0000,2014-04-11 00:15:00,0.0394,2014-04-11 16:00:00,0.1969,288,59.0551,86400
3,2014-04-12,0.0000,2014-04-12 00:05:00,0.0000,2014-04-12 00:05:00,0.0000,288,0.0000,86400
4,2014-04-13,0.0000,2014-04-13 00:05:00,0.0000,2014-04-13 00:05:00,0.0000,288,0.0000,86400
...,...,...,...,...,...,...,...,...,...
3931,2025-01-18,0.0000,2025-01-18 00:00:04,0.0000,2025-01-18 00:00:04,0.0000,288,0.0000,86400
3932,2025-01-19,0.0000,2025-01-19 00:00:04,0.0000,2025-01-19 00:00:04,0.0000,288,0.0000,86400
3933,2025-01-20,0.0000,2025-01-20 00:00:04,0.0000,2025-01-20 00:00:04,0.0000,288,0.0000,86400
3934,2025-01-21,0.0000,2025-01-21 00:00:04,0.0000,2025-01-21 00:00:04,0.0000,288,0.0000,86400
3935,2025-01-22,0.0000,2025-01-22 00:00:04,0.0000,2025-01-22 00:00:04,0.0000,132,0.0000,39600

In [165]:
missing_timestamps = pd.date_range(start = '2014-04-09 18:20:00', end = '2025-01-15 15:30:00', freq='5T').difference(allData.index)

# Determine which dates are completely missing from the data
missing_dates = pd.date_range(start = '2014-04-09', end = '2025-01-15').difference(allData.index)
missing_dates

DatetimeIndex(['2014-04-09', '2016-01-12', '2016-01-13', '2016-01-14',
               '2016-01-15', '2018-12-10', '2018-12-11', '2018-12-12',
               '2018-12-13'],
              dtype='datetime64[ns]', freq=None)

In [166]:
# Identify the missing timestamps

missing_timestamps = pd.DataFrame(missing_timestamps)
missing_timestamps['date'] = missing_timestamps[0].apply(lambda x: x.date())
missing_timestamps['time'] = missing_timestamps[0].apply(lambda x: x.time())

In [167]:
missing_timestamps

                       0        date      time
0    2014-10-05 02:00:00  2014-10-05  02:00:00
1    2014-10-05 02:05:00  2014-10-05  02:05:00
2    2014-10-05 02:10:00  2014-10-05  02:10:00
3    2014-10-05 02:15:00  2014-10-05  02:15:00
4    2014-10-05 02:20:00  2014-10-05  02:20:00
...                  ...         ...       ...
2859 2024-10-06 04:25:00  2024-10-06  04:25:00
2860 2024-10-06 04:30:00  2024-10-06  04:30:00
2861 2024-10-06 04:35:00  2024-10-06  04:35:00
2862 2024-10-06 04:40:00  2024-10-06  04:40:00
2863 2024-10-06 04:45:00  2024-10-06  04:45:00

[2864 rows x 3 columns]

In [168]:
# Key numbers 

# Fetch the inside temperature (inTemp)
def get_in_temp():
	cursor.execute("SELECT inTemp FROM archive ORDER BY dateTime DESC LIMIT 1")
	temp = cursor.fetchone()
	farenheit = float(temp[0])
	inTemp = celcius_convert(farenheit)
	return round(inTemp, 2)

# Fetch the outside temperature (outTemp)
def get_out_temp():
	cursor.execute("SELECT outTemp FROM archive ORDER BY dateTime DESC LIMIT 1")
	temp = cursor.fetchone()
	farenheit = float(temp[0])
	outTemp = celcius_convert(farenheit)
	return round(outTemp, 2)

def get_rainfall():
    query = "SELECT dateTime, rain FROM archive"
    rain = pd.read_sql(query, connection)
    rain['dateTime'] = rain['dateTime'].apply(lambda x: datetime.fromtimestamp(x))
    rain.set_index('dateTime', inplace=True)
    rain['rain'] = rain['rain'].apply(lambda x: rain_convert(x))
    rain = rain.resample('D').sum()
    return round(rain.iloc[-1]['rain'], 2)

def get_humidity():
	cursor.execute("SELECT outHumidity FROM archive ORDER BY dateTime DESC LIMIT 1")
	humidity = cursor.fetchone()
	return humidity[0]

In [169]:
def get_current_metrics():
    metrics = [
        {"label": "Outside Temp", "value": '17ºc'},#f'{get_out_temp()}ºC'},
        {"label": "Inside Temp", "value": '21ºc'}, #f'{get_in_temp()}ºC'},
        {"label": "Rainfall Today", "value": '10mm'},#f'{get_rainfall()}mm'},
        {"label": "Humidity", "value": '25%'}, #f'{get_humidity()}%'},
    ]
 
    cards = []
    for metric in metrics:
        cards.append(html.Div([
            html.H4(metric["label"], style={'color': colors['text'], 'font-size': '25px'}),
            html.P(metric["value"], style={'color': colors['text'], 'font-size': '40px'})
        ], style={
            'backgroundColor': colors['card_background'],
            'padding': '10px',
            'margin': '10px',
            'border-radius': '15px',
            'box-shadow': '0 5px 10px rgba(0, 0, 0, 0.3)',
            'width': '200px',
            'display': 'inline-block',
            'textAlign': 'center',
            'font-family': 'Roboto',
            'font-weight': 'bold'
        }))
  
    return html.Div(cards, style={'display': 'flex', 'justify-content': 'center'})

In [172]:
from dash import Dash, html, dash_table, dcc, Input, Output
import numpy as np
import plotly.express as px


external_stylesheets = ['https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap',
                        'https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap']

app = Dash(__name__, external_stylesheets=external_stylesheets)

colors = {
    'text': '#2C6B3F',  # Deep forest green
    'background': '#D1E8D5',  # Light mint green
    'card_background': '#FFFFFF',  # White
    'accent': '#A3B18C',  # Muted olive green
    'button': '#4F9D69',  # Fresh vibrant green
}


app.layout = html.Div(style={'backgroundColor': colors['background']}, children=[
    html.H1(
        children='The Weather Station @ 1/26 St Johns Wood Rd',
        style={
            'padding': '20px',
            'textAlign': 'center',
            'color': colors['text'],
            'font-family': 'Bungee Shade',
            'font-weight': '3000'
        }
    ),
    # Current metrics placeholder
    html.Div(get_current_metrics(), id='current-metrics', style={'padding': '10px'}),

    # Graphs placeholder
    html.Div(id='graphs', style={'padding': '20px'}, children=[
        html.H2(
            'Graphs',
            style={
                'color': colors['text'],
                'font-family': 'Roboto',
                'font-weight': 'bold'}),
		html.Div([
			dcc.DatePickerSingle(
				id='date-picker',
				date=allData.index.max().date(),
				display_format='DD/MM/YYYY',
				style={'margin': '10px'}
			)
		])
	]
             
             
             ),

    # Totals placeholder
    html.Div(id='totals', style={'padding': '20px'}),
])


if __name__ == '__main__':
    app.run_server(debug=True)